/* Header.css */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #51a8d7;
    color: rgb(0, 0, 0);
  }
  
  .header-left {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  .site-title {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
  }
  
  .header-nav {
    display: flex;
    gap: 30px;
    flex-grow: 1; /* Allows the nav to grow and take up available space */
    justify-content: center; /* Centers the nav items */
  }
  
  .nav-item {
    color: rgb(5, 5, 5);
    text-decoration: none;
    font-size: 18px;
  }
  
  .nav-item:hover, .nav-item.active {
    color: #5ab99c; /* Color when hovered or active */
  }
  
  .header-right {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 50px; /* Adds space between header-nav and header-right */
  }
  
  .login {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .register-button {
    background-color: #326fb9;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
  }
  
  .register-button:hover {
    background-color: #46a58c;
  }
  